@import "~bootstrap-icons/font/bootstrap-icons.css";

.zippy {
  border: solid 1px #ccc;
  border-radius: 2px;
  width: 300px;
}

.zippy-heading {
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

.zippy-body {
  padding: 20px;
}

.expended {
  background-color: antiquewhite;
}

.bi {
  float: right;
}
